body {
  display: grid;
}

.container {
  display: grid; 
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(6, 1fr);
  width: 600px;
  margin: auto;
  padding: 0;
  border: 8px solid blue;
  background-color: blue;
}

.grid-area {
  display: flex;
  border: 9px solid blue;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
}

body {
  height: 100vh;
}


h1 {
  text-align: center;
  font-family: 'Rowdies', cursive;
  font-size: 100px;
  color: red;
  padding: 50px;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: 'Rowdies', cursive;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

button {
  display: grid;
  width: 60px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

#start {
  display: inline-block;
  margin: 5px;
}

#reset {
  display: inline-block;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  body {
    display: grid;
  }

  .container {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}