body {
  display: grid;
  background-color: lightgray;
  height: 100vh;
}

.container {
  display: grid; 
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(6, 1fr);
  width: 600px;
  margin-bottom: 25px;
  padding: 0;
  border: 8px solid blue;
  background-color: blue;
  box-shadow: 10px 10px rgb(0 0 0 / 0.5);
}

.grid-area {
  display: flex;
  border: 9px solid blue;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}


h1 {
  text-align: center;
  font-family: 'Rowdies', cursive;
  font-size: 100px;
  color: red;
  margin: 0;
  text-shadow: 10px 10px rgb(0 0 0 / 0.5);
  
}

h2 {
  text-align: center;
  font-family: 'Rowdies', cursive;
  font-size: 40px;
  margin: 0;
}

button {
  display: flex;
  width: 60px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

/* #start {
  display: inline-block;
  margin: 5px;
} */

#reset-game {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: whitesmoke;
}

.player1 {
  color: red;
  animation: backwards;
}

.player2 {
  color: rgb(253, 253, 17);
}

.player1Chip {
  border-radius: 50%;
  color: red;
  animation: 3s linear 1s infinite running slidein;
}


@media only screen and (max-width: 768px) {
.container {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}

